In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
from pandas.tseries.offsets import MonthEnd
from datetime import datetime

## read data

In [104]:
df = pd.read_excel('DATA_CAP_CBS_Performace.xlsx')

## select data

In [3]:
df_DQ_Housing = df[df['PROD_TYPE']==7100]
df_DQ_secured = df[(df['PROD_TYPE']==7200)&(df['COLLATERAL_REQUIRED']=="บัญชีสินเชื่อนี้มีหลักประกัน")]
df_DQ_Unsecured = df[(df['PROD_TYPE']==7200)&(df['COLLATERAL_REQUIRED']=="บัญชีสินเชื่อนี้ไม่มีหลักประกัน")]
df_DQ_MSME = df[df['PROD_TYPE']==7500]

### ADD Data to Loop

In [4]:
listDQ = ['DQ_202110','DQ_202111','DQ_202112','DQ_202201','DQ_202202','DQ_202203','DQ_202204','DQ_202205','DQ_202206','DQ_202207','DQ_202208','DQ_202209','DQ_202210','DQ_202211','DQ_202212']
listOS = ['LEDGER_BALANCE_202110','LEDGER_BALANCE_202111','LEDGER_BALANCE_202112','LEDGER_BALANCE_202201','LEDGER_BALANCE_202202','LEDGER_BALANCE_202203','LEDGER_BALANCE_202204','LEDGER_BALANCE_202205','LEDGER_BALANCE_202206','LEDGER_BALANCE_202207','LEDGER_BALANCE_202208','LEDGER_BALANCE_202209','LEDGER_BALANCE_202210','LEDGER_BALANCE_202211','LEDGER_BALANCE_202212']

## Loop DQ Account

In [5]:
#7100
lists =[]
for col in listDQ:
    lists.append(df_DQ_Housing[col].value_counts())

    DQ_Housing = pd.DataFrame(lists)
for cols in DQ_Housing:
            
           DQ_Housing.rename({cols:cols+"_Housing"},axis=1,inplace = True)
DQ_Housing = DQ_Housing.transpose()
for cols2 in DQ_Housing:
    DQ_Housing.rename({cols2:cols2[3:9]},axis=1,inplace = True)


#7200 มีหลักประกัน
lists =[]
for col in listDQ:
    lists.append(df_DQ_secured[col].value_counts())

    DQ_secured = pd.DataFrame(lists)
for cols in DQ_secured:
            
           DQ_secured.rename({cols:cols+"_secured"},axis=1,inplace = True)
DQ_secured = DQ_secured.transpose()
for cols2 in DQ_secured:
    DQ_secured.rename({cols2:cols2[3:9]},axis=1,inplace = True)

#7200 ไม่มีหลักประกัน
lists =[]
for col in listDQ:
    lists.append(df_DQ_Unsecured[col].value_counts())

    DQ_Unsecured = pd.DataFrame(lists)
for cols in DQ_Unsecured:
            
           DQ_Unsecured.rename({cols:cols+"_Unsecured"},axis=1,inplace = True)
DQ_Unsecured = DQ_Unsecured.transpose()
for cols2 in DQ_Unsecured:
    DQ_Unsecured.rename({cols2:cols2[3:9]},axis=1,inplace = True)

#7500 
lists =[]
for col in listDQ:
    lists.append(df_DQ_MSME[col].value_counts())

    DQ_MSME = pd.DataFrame(lists)
for cols in DQ_MSME:
            
           DQ_MSME.rename({cols:cols+"_MSME"},axis=1,inplace = True)
DQ_MSME = DQ_MSME.transpose()
for cols2 in DQ_MSME:
    DQ_MSME.rename({cols2:cols2[3:9]},axis=1,inplace = True)

## Loop DQ OS

In [6]:
HF_Balance = pd.DataFrame(index=['DQ_0', 'DQ_30','DQ_60','DQ_90','DQ_X'])
SF_Balance = pd.DataFrame(index=['DQ_0', 'DQ_30','DQ_60','DQ_90','DQ_X'])
UF_Balance = pd.DataFrame(index=['DQ_0', 'DQ_30','DQ_60','DQ_90','DQ_X'])
MF_Balance = pd.DataFrame(index=['DQ_0', 'DQ_30','DQ_60','DQ_90','DQ_X'])

#HF
for col_B,col2_B in zip(listDQ,listOS):
    HF_Balance = HF_Balance.join(df_DQ_Housing[[col_B,col2_B]].groupby(col_B).sum())
for cols3_B in HF_Balance:
       HF_Balance.rename({cols3_B:cols3_B[15:21]},axis=1,inplace = True)
HF_Balance = HF_Balance.T
for cols4_B in HF_Balance:    
       HF_Balance.rename({cols4_B:cols4_B+'_HF_Balance'},axis=1,inplace = True)
HF_Balance = HF_Balance.T    


#SF
for col_B,col2_B in zip(listDQ,listOS):
    SF_Balance = SF_Balance.join(df_DQ_secured[[col_B,col2_B]].groupby(col_B).sum())
for cols3_B in SF_Balance:
       SF_Balance.rename({cols3_B:cols3_B[15:21]},axis=1,inplace = True)
SF_Balance = SF_Balance.T
for cols4_B in SF_Balance:    
       SF_Balance.rename({cols4_B:cols4_B+'_SF_Balance'},axis=1,inplace = True)
SF_Balance = SF_Balance.T   

#UF
for col_B,col2_B in zip(listDQ,listOS):
    UF_Balance = UF_Balance.join(df_DQ_Unsecured[[col_B,col2_B]].groupby(col_B).sum())
for cols3_B in UF_Balance:
       UF_Balance.rename({cols3_B:cols3_B[15:21]},axis=1,inplace = True)
UF_Balance = UF_Balance.T
for cols4_B in UF_Balance:    
       UF_Balance.rename({cols4_B:cols4_B+'_UF_Balance'},axis=1,inplace = True)
UF_Balance = UF_Balance.T   

#MF
for col_B,col2_B in zip(listDQ,listOS):
    MF_Balance = MF_Balance.join(df_DQ_MSME[[col_B,col2_B]].groupby(col_B).sum())
for cols3_B in MF_Balance:
       MF_Balance.rename({cols3_B:cols3_B[15:21]},axis=1,inplace = True)
MF_Balance = MF_Balance.T
for cols4_B in MF_Balance:    
       MF_Balance.rename({cols4_B:cols4_B+'_MF_Balance'},axis=1,inplace = True)
MF_Balance = MF_Balance.T

### Loop LEDGER_BALANCE

In [7]:
Series = pd.Series()
Series2 = pd.Series()
Series3 = pd.Series()
Series4 = pd.Series()
#7100
for col in listOS:
     OS_SUM = (df_DQ_Housing[[col]].sum())
     Series = Series.append(OS_SUM)
OS_Housing = pd.DataFrame(Series).T
for cols2 in OS_Housing:
    OS_Housing.rename({cols2:cols2[15:21]},axis=1,inplace = True)
OS_Housing = OS_Housing.rename(index={0:'OS_Housing'})

#7200 มีหลักประกัน
for col in listOS:
     OS_SUM = (df_DQ_secured[[col]].sum())
     Series2 = Series2.append(OS_SUM)
OS_secured = pd.DataFrame(Series2).T
for cols2 in OS_secured:
    OS_secured.rename({cols2:cols2[15:21]},axis=1,inplace = True)
OS_secured = OS_secured.rename(index={0:'OS_secured'})

#7200 ไม่มีหลักประกัน

for col in listOS:
     OS_SUM = (df_DQ_Unsecured[[col]].sum())
     Series3 = Series3.append(OS_SUM)
OS_Unsecured = pd.DataFrame(Series3).T
for cols2 in OS_Unsecured:
    OS_Unsecured.rename({cols2:cols2[15:21]},axis=1,inplace = True)
OS_Unsecured = OS_Unsecured.rename(index={0:'OS_Unsecured'})

#7500 

for col in listOS:
     OS_SUM = (df_DQ_MSME[[col]].sum())
     Series4 = Series4.append(OS_SUM)
OS_MSME = pd.DataFrame(Series4).T
for cols2 in OS_MSME:
    OS_MSME.rename({cols2:cols2[15:21]},axis=1,inplace = True)
OS_MSME = OS_MSME.rename(index={0:'OS_MSME'})

<ipython-input-7-b272084f3314>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Series = pd.Series()
<ipython-input-7-b272084f3314>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Series2 = pd.Series()
<ipython-input-7-b272084f3314>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Series3 = pd.Series()
<ipython-input-7-b272084f3314>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Series4 = pd.Series()

### concat ALL

In [8]:
DQ_all = pd.concat([DQ_Housing,DQ_secured,DQ_Unsecured,DQ_MSME,HF_Balance,SF_Balance,UF_Balance,MF_Balance,OS_Housing,OS_secured,OS_Unsecured,OS_MSME])

### Format date

In [10]:
##Format date
for col_date,date in zip(DQ_all,DQ_all):
    date = date[4:6] +"/" + date[0:4]
    date = pd.to_datetime(date)
    date = date+ MonthEnd(1)
    date = str(date)
    date = datetime.strptime(date, "%Y-%m-%d %H:%M:%S").strftime("%d/%m/%Y")
    DQ_all.rename({col_date:date},axis=1,inplace = True)

### Export

In [88]:
DQ_all.to_csv('DQ_performance.csv')

## CCUS

In [27]:
df1 = pd.read_csv('CAP-Perfomance/output/CAP_CBS_Performace(ccus).csv',encoding="TIS-620")

c:\Users\630039\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (30,54,65,66,70,71,75,76,80,81,85,86,90,91,95,96,100,101,105,106,110,111) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [28]:
df = df1[['CUST_ID','ACC_ID','B-score level','INCOME_LEVEL_202212','DQ_202212','LEDGER_BALANCE_202212','PROD_TYPE','COLLATERAL_REQUIRED']]

In [69]:
#secured
#df = df[(df['PROD_TYPE']==7200)&(df['COLLATERAL_REQUIRED']=='บัญชีสินเชื่อนี้มีหลักประกัน')]
#unsecured
#df = df[(df['PROD_TYPE']==7200)&(df['COLLATERAL_REQUIRED']=='บัญชีสินเชื่อนี้ไม่มีหลักประกัน')]

In [29]:
def group_income_CCUS() :   
    condition = [(df['INCOME_LEVEL_202212'] == '1-<10,000')|(df['INCOME_LEVEL_202212'] == '2-10,000 - 14,999')|(df['INCOME_LEVEL_202212'] == '3-15,000 - 29,999')
                 |(df['INCOME_LEVEL_202212'] == '9-ไม่มีรายได้')|(df['INCOME_LEVEL_202212'] == '10-ไม่ระบุ'),
                 (df['INCOME_LEVEL_202212'] == '4-30,000 - 49,999'),
                 (df['INCOME_LEVEL_202212'] == '5-50,000 - 99,999')|(df['INCOME_LEVEL_202212'] == '6-100,000 - 199,999')|(df['INCOME_LEVEL_202212'] == '7->200,000') 
                 ]
    
    criterion = ['ต่ำกว่า 30,000','30,000-49,999','ตั้งเเต่ 50,000']
    return np.select(condition, criterion)


def group_NCB_grade() :   
    condition = [(df['B-score level'] == 'AA'),
                 (df['B-score level'] == 'BB'),
                 (df['B-score level'] == 'CC'),
                 (df['B-score level'] == 'DD')|(df['B-score level'] == 'EE')|(df['B-score level'] == 'FF')|(df['B-score level'] == 'GG')
                 |(df['B-score level'] == 'HH')|(df['B-score level'] == 'XX')|(df['B-score level'] == 'YY')|(df['B-score level'] == 'ZZ')      
                 ]
    
    criterion = ['AA','BB','CC','OTHER']
    return np.select(condition, criterion)

In [30]:
df['รายได้ผู้ขอสินเชื่อรวม(บาท)'] = group_income_CCUS()
df['NCB Score'] = group_NCB_grade()
df_DQ = df.groupby(['NCB Score','รายได้ผู้ขอสินเชื่อรวม(บาท)']).count()
df_DQ_OS = df.groupby(['NCB Score','รายได้ผู้ขอสินเชื่อรวม(บาท)']).sum()
df_DQ0 = df[df['DQ_202212']=='DQ_0'].groupby(['NCB Score','รายได้ผู้ขอสินเชื่อรวม(บาท)']).count()
df_DQ0_OS = df[df['DQ_202212']=='DQ_0'].groupby(['NCB Score','รายได้ผู้ขอสินเชื่อรวม(บาท)']).sum()
df_DQ30 = df[df['DQ_202212']=='DQ_30'].groupby(['NCB Score','รายได้ผู้ขอสินเชื่อรวม(บาท)']).count()
df_DQ30_OS = df[df['DQ_202212']=='DQ_30'].groupby(['NCB Score','รายได้ผู้ขอสินเชื่อรวม(บาท)']).sum()
df_DQ = df_DQ[['ACC_ID']]
df_DQ_OS = df_DQ_OS[['LEDGER_BALANCE_202212']]
df_DQ0 = df_DQ0[['ACC_ID']]
df_DQ0_OS = df_DQ0_OS[['LEDGER_BALANCE_202212']]
df_DQ30 = df_DQ30[['ACC_ID']]
df_DQ30_OS = df_DQ30_OS[['LEDGER_BALANCE_202212']]
df_DQ.rename(columns={'ACC_ID':'portion_All'},inplace=True)
df_DQ_OS.rename(columns={'LEDGER_BALANCE_202212':'OS_All'},inplace=True)
df_DQ0.rename(columns={'ACC_ID':'portion_DQ0'},inplace=True)
df_DQ0_OS.rename(columns={'LEDGER_BALANCE_202212':'OS_DQ0'},inplace=True)
df_DQ30.rename(columns={'ACC_ID':'DQ30 (#)'},inplace=True)
df_DQ30_OS.rename(columns={'LEDGER_BALANCE_202212':'DQ30($)'},inplace=True)

<ipython-input-30-bd1792446530>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['รายได้ผู้ขอสินเชื่อรวม(บาท)'] = group_income_CCUS()
<ipython-input-30-bd1792446530>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NCB Score'] = group_NCB_grade()

In [31]:
df_DQ = df_DQ.join([df_DQ_OS,df_DQ30,df_DQ30_OS])

In [47]:
sum_portion = np.sum(df_DQ['portion_All'])
sum_os = np.sum(df_DQ['OS_All'])
df_DQ['portion_all(#)'] = df_DQ['portion_All']/sum_portion
df_DQ['OS_ALL(%)'] = df_DQ['OS_All']/sum_os
df_DQ['%DQ30(#)'] = df_DQ['DQ30 (#)']/df_DQ['portion_All']
df_DQ['%DQ30($)'] = df_DQ['DQ30($)']/df_DQ['OS_All']

In [61]:
df_DQ.to_excel('CCUS_all.xlsx',sheet_name='CCUS')

In [42]:
#with pd.ExcelWriter('CCUS.xlsx') as writer:  
 #   df_secured.to_excel(writer, sheet_name='CCUS_secured')
  #  df_unsecured.to_excel(writer, sheet_name='CCUS_unsecured')

#### -----

In [3]:
df2 = pd.read_excel('T:/COMMON/Model/Report_DataCAP_IT/Raw_Data/iBankTeam_AllDataCreditRiskDept 221001-220201.xlsx')
df2.rename({'m CId No':'ID_NO'},inplace=True,axis='columns')
df2['Month'] = df2['appl No'].str.slice(8,12)
mapping = df2[[ 'appl No','ID_NO','Month','รายได้เฉลี่ยรวมต่อเดือน','bslevel Credit']]
mapping.dropna(inplace=True)
mapping = mapping[mapping['Month']=='2212']
mapping.reset_index()

In [61]:
mapping['รายได้ผู้ขอสินเชื่อรวม(บาท)'] = CCUS_criterion()

<ipython-input-61-e3dfcf9939df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mapping['รายได้ผู้ขอสินเชื่อรวม(บาท)'] = CCUS_criterion()

In [63]:
mapping.groupby(['bslevel Credit','รายได้ผู้ขอสินเชื่อรวม(บาท)']).count()

                                            appl No  ID_NO  Month  \
bslevel Credit รายได้ผู้ขอสินเชื่อรวม(บาท)
AA             30,000-49,999                     32     32     32
               ตั้งเเต่ 50,000                   19     19     19
               ต่ำกว่า 30,000                    38     38     38
BB             30,000-49,999                     83     83     83
               ตั้งเเต่ 50,000                   52     52     52
               ต่ำกว่า 30,000                    73     73     73
CC             30,000-49,999                    106    106    106
               ตั้งเเต่ 50,000                   70     70     70
               ต่ำกว่า 30,000                    81     81     81
DD             30,000-49,999                     47     47     47
               ตั้งเเต่ 50,000                   65     65     65
               ต่ำกว่า 30,000                    62     62     62
EE             30,000-49,999                     29     29     29
               ตั้งเเต่ 50,000                   35     35     35
               ต่ำกว่า 30,000                    51     51     51
FF             30,000-49,999                     31     31     31
               ตั้งเเต่ 50,000                   29     29     29
               ต่ำกว่า 30,000                    31     31     31
GG             30,000-49,999                     12     12     12
               ตั้งเเต่ 50,000                   16     16     16
               ต่ำกว่า 30,000                    36     36     36
HH             30,000-49,999                      9      9      9
               ตั้งเเต่ 50,000                    9      9      9
               ต่ำกว่า 30,000                    14     14     14
TT             30,000-49,999                      3      3      3
               ตั้งเเต่ 50,000                    8      8      8
               ต่ำกว่า 30,000                    27     27     27
XX             ต่ำกว่า 30,000                     2      2      2
YY             30,000-49,999                      5      5      5
               ตั้งเเต่ 50,000                    4      4      4
               ต่ำกว่า 30,000                    23     23     23
ZZ             30,000-49,999                      1      1      1
               ตั้งเเต่ 50,000                    2      2      2
               ต่ำกว่า 30,000                     4      4      4

                                            รายได้เฉลี่ยรวมต่อเดือน
bslevel Credit รายได้ผู้ขอสินเชื่อรวม(บาท)
AA             30,000-49,999                                     32
               ตั้งเเต่ 50,000                                   19
               ต่ำกว่า 30,000                                    38
BB             30,000-49,999                                     83
               ตั้งเเต่ 50,000                                   52
               ต่ำกว่า 30,000                                    73
CC             30,000-49,999                                    106
               ตั้งเเต่ 50,000                                   70
               ต่ำกว่า 30,000                                    81
DD             30,000-49,999                                     47
               ตั้งเเต่ 50,000                                   65
               ต่ำกว่า 30,000                                    62
EE             30,000-49,999                                     29
               ตั้งเเต่ 50,000                                   35
               ต่ำกว่า 30,000                                    51
FF             30,000-49,999                                     31
               ตั้งเเต่ 50,000                                   29
               ต่ำกว่า 30,000                                    31
GG             30,000-49,999                                     12
               ตั้งเเต่ 50,000                                   16
               ต่ำกว่า 30,000                                    36
HH             30,000-49,999                                      9
               ตั้งเเต่ 50,000                                    9
               ต่ำกว่า 30,000                                    14
TT             30,000-49,999                                      3
               ตั้งเเต่ 50,000                                    8
               ต่ำกว่า 30,000                                    27
XX             ต่ำกว่า 30,000                                     2
YY             30,000-49,999                                      5
               ตั้งเเต่ 50,000                                    4
               ต่ำกว่า 30,000                                    23
ZZ             30,000-49,999                                      1
               ตั้งเเต่ 50,000                                    2
               ต่ำกว่า 30,000                                     4

In [28]:
mapping.to_csv('mapping.csv',encoding='TIS-620',index=False)

#### ------------------

## portion Grade ,DQ

In [8]:
df1 = pd.read_csv('CAP-Perfomance/output/CAP_CBS_Performace(ccus).csv',encoding="TIS-620")

c:\Users\630039\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (30,54,65,66,70,71,75,76,80,81,85,86,90,91,95,96,100,101,105,106,110,111) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
df2 = df1[['AS_OF_DATE','CUST_ID','ACC_ID','PROD_TYPE','COLLATERAL_REQUIRED','DQ_202212','B-score level','DEALER_CODE']]

### covert .0 to 0

In [ ]:
df2['DEALER_CODE'] = df2['DEALER_CODE'].fillna(0.0).astype(int)

### Define MOU

In [46]:
df2['DEALER_CODE'] = df2['DEALER_CODE'].astype(str)

<ipython-input-46-95d289daf051>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['DEALER_CODE'] = df2['DEALER_CODE'].astype(str)

In [47]:
def define_mou(x):
     if x == "11" or x == "15" or x == "16"or x == "26"or x == "27"or x == "31"or x == "32"or x == "33"or x == "35"or x == "38"or x == "39"or x == "43"or x == "46"or x == "50"or x == "58"or x == "59"or x == "60"or x == "61"or x == "68"or x == "69"or x == "70"or x == "77"or x == "78"or x == "85"or x == "87"or x == "88"or x == "90"or x == "115"or x == "125"or x == "174"or x == "176"or x == "177"or x == "178"or x == "191"or x == "236"or x == "334"or x == "335"or x == "336":
           return  "MOU"
     else :
           return "NonMOU"

In [48]:
df2['MOU_Flag'] = df2['DEALER_CODE'].apply(define_mou)

<ipython-input-48-b8ed73bd041d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['MOU_Flag'] = df2['DEALER_CODE'].apply(define_mou)

### select data

In [55]:
df_Housing = df2[df2['PROD_TYPE']==7100]
df_secured = df2[(df2['PROD_TYPE']==7200)&(df2['COLLATERAL_REQUIRED']=="บัญชีสินเชื่อนี้มีหลักประกัน")]
df_Unsecured = df2[(df2['PROD_TYPE']==7200)&(df2['COLLATERAL_REQUIRED']=="บัญชีสินเชื่อนี้ไม่มีหลักประกัน")]
df_MSME = df2[df2['PROD_TYPE']==7500]

In [89]:
HF = pd.pivot_table(df_Housing,index='DQ_202212',columns='B-score level',values="ACC_ID",aggfunc='count')
HF.rename(index={'DQ_0':'DQ_0_HF','DQ_30':'DQ_30_HF','DQ_60':'DQ_60_HF','DQ_90':'DQ_90_HF','DQ_X':'DQ_X_HF'},inplace=True)
SF = pd.pivot_table(df_secured,index='DQ_202212',columns='B-score level',values="ACC_ID",aggfunc='count')
SF.rename(index={'DQ_0':'DQ_0_SF','DQ_30':'DQ_30_SF','DQ_60':'DQ_60_SF','DQ_90':'DQ_90_SF','DQ_X':'DQ_X_SF'},inplace=True)
UF = pd.pivot_table(df_Unsecured,index='DQ_202212',columns='B-score level',values="ACC_ID",aggfunc='count')
UF.rename(index={'DQ_0':'DQ_0_UF','DQ_30':'DQ_30_UF','DQ_60':'DQ_60_UF','DQ_90':'DQ_90_UF','DQ_X':'DQ_X_UF'},inplace=True)
MF = pd.pivot_table(df_MSME,index='DQ_202212',columns='B-score level',values="ACC_ID",aggfunc='count')
MF.rename(index={'DQ_0':'DQ_0_MF','DQ_30':'DQ_30_MF','DQ_60':'DQ_60_MF','DQ_90':'DQ_90_MF','DQ_X':'DQ_X_MF'},inplace=True)

In [90]:
All = pd.concat([HF,SF,UF,MF])

In [91]:
All

,AA,BB,CC,DD,EE,FF,GG,HH,XX,YY,ZZ
DQ_202212,,,,,,,,,,,
DQ_0_HF,190.0,345.0,400.0,158.0,62.0,50.0,3.0,1.0,10.0,32.0,7.0
DQ_30_HF,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
DQ_60_HF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
DQ_90_HF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
DQ_X_HF,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DQ_0_SF,229.0,509.0,683.0,339.0,139.0,92.0,14.0,1.0,9.0,44.0,7.0
DQ_30_SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN
DQ_60_SF,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DQ_90_SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
DQ_X_SF,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DQ_0_UF,159.0,492.0,996.0,783.0,152.0,20.0,10.0,2.0,9.0,86.0,35.0
DQ_30_UF,NaN,1.0,2.0,1.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN
DQ_60_UF,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DQ_90_UF,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
DQ_0_MF,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
DQ_30_MF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [92]:
All.to_csv('Grade_Performace.csv')